@media (min-width: 800px) {

    header nav {
        justify-content: flex-start;
    }

    .small-logo {
        display: block;
    }

    .menu-container {
        align-self: center;
    }

    .menu-controller {
        display: none;
    }

    .website-shortcuts {
        flex-direction: row;
        gap: 0.938rem;
        padding: 0;
    }
}

@media (min-width: 1200px) {

    html {
        font-size: 1.2rem;
    }

    .website-shortcuts,
    .book-and-rates {
        gap: 1.875rem;
    }
}

@media (max-width: 576px) {
    .welcome-container {
        gap: 1rem;
        padding: 18vh 11vw;
    }
}