.hidden {
    display: none !important;
}

header nav {
    background-color: #222;
    height: 12vh;
    display: flex;
    flex-direction: row;
    color: white;
    overflow: visible;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
}

header nav > * {

}

.small-logo {
    display: none;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu-controller {
    cursor: pointer;
    padding: 0 10px;
    height: 8h;
    margin: 2vh;
    line-height: 8vh;
    border-radius: 4px;
}

.menu-controller:hover,
.menu-controller:focus {
    background-color: rgb(50, 50, 50);
}

.website-shortcuts {
    display: flex;
    flex-direction: column;
    background-color: #222;
}