.hidden {
    display: none;
}

header nav {
    background-color: #222;
    min-height: 9.2vh;
    max-height: 155px;
    display: flex;
    flex-direction: row;
    color: white;
    overflow: visible;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    border: 1px solid blue;
}

header nav > * {
    border: 1px solid red;
}

.small-logo {
    display: none;
}

.menu-controller {
    
}

.website-shortcuts {
    display: flex;
    flex-direction: column;
    transform:translateY(100%);
    background-color: #222;
}